@font-face {
  font-family: HelveticaNeueLight;
  src: url("/css/HelveticaNeueLTStd-Lt.otf");
}

@font-face {
  font-family: HelveticaNeueBold;
  src: url("/css/HelveticaNeueLTStd-Bd.otf");
}

@font-face {
  font-family: HelveticaNeue;
  src: url("/css/HelveticaNeueLTStd-Md.otf");
}

html * {
  font-family: HelveticaNeue !important;
}

.neue-std {
  font-family: HelveticaNeue !important;
}
.neue-bld {
  font-family: HelveticaNeueBold !important;
}
.neue-lt {
  font-family: HelveticaNeueLight !important;
}

.frosted {
  background: rgba(255, 255, 255, 0.75);
}

.tooltip {
  max-width: 500px;
  max-height: 600px;
  min-width: 200px;
  min-height: 250px;
  background: #fff;
  color: #000;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.tooltip-header{
  padding-top: 0;
  width:auto;
  background: #cfb87c;
  text-align: left;
  font-family: HelveticaNeueBold !important;
}
.tooltip-header-image {
  background: url("/img/ui/circuit.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.map-background {
  background: url("/img/map.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.border {
  border-style: solid;
  border-color: #cfb87c;
  border-radius: 3px;
}
